
/* Mobile screen Size < 640px*/
@media (max-width:640px){
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: min-content;
        grid-template-areas:
        "hd hd hd hd"
        "nb nb nb nb"
        "av au au au"
        "main main main main"
        "main main main main"
        "main main main main"
        "ft ft ft ft";
        min-width:250px;
    }

    /* Sticky NavBar */
    .sticky{
        position: -webkit-sticky;
        position:sticky;
        top: 0;
    }

    .navbar {
        grid-area: nb;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }
    
    .author{
        grid-area: au;
        padding: 1em;
    }
    
    .avatar{
        grid-area: av;
    }

}

/* Tablet screen Size > 641px < 1007*/
@media (min-width:641px) and (max-width: 1007px) {
    .container{
        display: grid;
        column-gap: 1em;
        row-gap: 1.5em;
        grid-template-columns: repeat(4,1fr);
        /** grid-template-rows: repeat(2,auto) 1fr .2fr; **/
        grid-auto-rows: min-content;
        grid-template-areas:
        "hd hd hd hd"
        "nb nb nb nb"
        "av au au au"
        "main main main main"
        "ft ft ft ft";
    }

    /* Sticky NavBar */
    .sticky{
        position: -webkit-sticky;
        position:sticky;
        top: 0;
    }

    .navbar {
        grid-area: nb;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }


    .author{
        grid-area: au;
        padding: 1em;
    }
    
    .avatar{
        grid-area: av;
    }
}

/* Desktop screen Size > 1008px */
@media (min-width:1008px){
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: min-content;
        grid-template-areas:
        "hd hd hd hd"
        "av main main main"
        "au main main main"
        "nb main main main"
        "ft ft ft ft";
    }

    .navbar {
        grid-area: nb;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

        /* Sticky NavBar */
        .sticky{
            position: -webkit-sticky;
            position:sticky;
            top: 0;
        }
        .author{
            grid-area: au;
            padding: 1em;
            grid-row: 4;
        }
        
        .avatar{
            grid-area: av;
            grid-row:3;
        }

}

.post{
    padding: 1em;
}
