
.box{
    border: 1px solid red;
    background: #F8FA9D;
}

.header{
    grid-area: hd;
    text-align: center;
}

.content{
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
}

.footer{
    grid-area: ft;
    height: 3em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.postcard{
    padding: 1em;
}

.navitem{
    border: 1px solid blue;
}

img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8em;
    max-width: 100%;
    height: auto;
}

.btn {
    background-color: white;
    border: 2px solid blue;
    color: blue;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    }

.btn:hover {
    background-color: blue;
    color: white;
    font-weight: bold;
}
