/* Set root font size */
html {
    font-size: 62.5%; /* Root font size based on user's font size - default 16px *.625 = 10px */
}
/* --- */

a {
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
}

b {
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

blockquote {
    font-size: 2rem;
    border-radius: 0.8em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    color: #4a4a4a;
    background: #e8e8e8;
    width: 80%;
}

body {
    font-family: arial;
}

button {
    font-size: 1.5rem;
}

.captiontext {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    color: #272727;
}

em {
    font-style: italic;
    font-size: 1.5rem;
    font-weight: lighter;
    text-shadow: 0rem 0.1rem 0.2rem #4a4d4f;
}

.footertext {
    text-align: left;
    font-size: 1rem;
    font-style: italic;
    color: #272727;
}

h1 {
    font-size: 4rem;
    font-weight: normal;
    color: black;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #036ba3;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
    color: #4a4d4f;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a4d4f;
}

header {
    font-family: arial;
}

p {
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
    text-align: justify;
}

.titleblock {
    line-height: .5rem;
}

u {
    text-decoration: underline;
    font-size: 1.5rem;
    font-stretch: condensed;
}