/* Set root font size */
html {
    font-size: 62.5%; /* Root font size based on user's font size - default 16px *.625 = 10px */
}

header {
    font-family: arial;
}

body {
    font-family: arial;
}

h1 {
    font-size: 4rem;
    font-weight: normal;
    color: black;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #036ba3;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
    color: #4a4d4f;
}

p {
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
    text-align: justify;
}

a {
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
}

figcaption {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    color: #272727;
}

button {
    font-size: 1.5rem;
}
